<main class="main">
    <div class="main__content">
        <hi class="title title--center">Створити</hi>
        <ul class="choose">
            <a href="spotify-create">
                <li class="choose__item">
                    <img src="/svg/choose_1.svg" alt="choose image" class="choose__image">
                    <div class="choose__content">
                        <strong class="title">Плейліст</strong>
                        <p class="choose__text">Створіть плейліст із піснями чи епізодами</p>
                    </div>
                </li>
            </a>
            <a href="spotify-create?isMix=true">
                <li class="choose__item">
                    <img src="/svg/choose_2.svg" alt="choose image" class="choose__image">
                    <div class="choose__content">
                        <strong class="title">Мікс</strong>
                        <p class="choose__text">Комбінуйте смаки в спільному плейлісті з друзями</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>