@use '../../lib/service.scss' as s;

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: s.space(15);
}

.alert {
    display: flex;
    width: 800px;
    border: 1px solid s.color("light");
    padding: s.space(4);
    gap: s.space(8);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);

    &__button {
        max-height: 36px;
        border: 1px solid s.color("light");
        padding: s.space(2) s.space(4) s.space(2) s.space(4);
        border-radius: 20px;
        background-color: s.color("mine");
        color: white;
        text-decoration: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: s.space(2);
    }

    &__info h1 {
        font-weight: 900;
        
    }

    
}