<main class="main">
    <div class="main__content">
        <header class="header">
            <a href="/">
                <img src="/svg/cross.svg" alt="cross">
            </a>
        </header>
        <h1 class="title title--center title--small">Назвіть плейліст</h1>
        <form method="post" action="/spotify-create{{#if data.isMix}}?isMix=true{{/if}}" class="form">
            <input required type="text" class="form__field" placeholder="Назва" name="name">
            <button class="form__button">Створити</button>
        </form>
    </div>
</main>