<main class="main">
    {{> heading/index title="Товари" info="Комп'ютери та ноутбуки/Комп'ютери, неттопи, моноблоки"}}
    <div class="product-list">
        {{#each data.list}}
        {{> purchase-product/index data=this}}
        {{/each}}
    </div>
</main>