@use '../../lib/service.scss' as s;


.product-card {
    border-radius: 10px;
    border: 1px solid s.color(border);
    padding: s.space(4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: s.space(3);
}

.product-card__image {
    max-height: 300px;
    width: 100%;
}

.product-card__title {
    font-size: 20px;
    font-weight: bold;
}

.product-card__subtitle {
    font-size: 16px;
    color: s.color(gray);
}

.product-card__category {
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 10px;
    color: s.color(grey);
    border: 1px solid transparent;
}

.product-card__category--1 {
    border-color: blue;
color: blue;
}

.product-card__category--2 {
    border-color: green;
color: green;
}